@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import "tailwindcss";

@layer base {
  :root {
    --nav-bg: #4299e1;
    --foreground: #ffffff;
    --nav-active: #2b6cb0;
  }
}

* {
  list-style: none;
}

@theme inline {
  --color-nav-bg: var(--nav-bg);
  --color-foreground: var(--foreground);
  --font-montserrat: "Montserrat", sans-serif;
  --color-nav-active: var(--nav-active);
}
