<div class='flex bg-banner text-sm text-secondary-light'>
  <p class='py-2 pl-8'>
    <i class='far fa-clock text-primary'></i> Otváracie hodiny: Pon - Pia : 6.00
    - 18.00
  </p>
  <p
    class='slanted z-10 ml-auto flex items-center justify-center gap-1 py-1 pl-12 pr-8 text-white'
  >
    <i class='fa fa-envelope-open'></i> info@ZubZen.com
  </p>
  <p
    class='ml-[-20px] flex items-center gap-1 border-l bg-primary px-8 pl-4 text-white'
  >
    <i class='fa fa-phone-alt'></i> +000 123 456 789
  </p>
</div>
<style>
  .slanted {
    background:
      linear-gradient(#06a3da, #06a3da) center/calc(100% - 40px) 100% no-repeat,
      linear-gradient(to bottom left, #06a3da 49%, transparent 50.5%) left/20px
        100% no-repeat;
  }
</style>
