<section
  class='grid grid-cols-3 gap-7 px-[calc((100%-1110px)/2)] pt-12'
  id='courses'
>
  <article class='flex flex-col gap-7'>
    <div class='bg-primary p-4'>
      <h2 class='pb-2 text-xl'>Spalovanie tukov</h2>
      <p class='text-sm font-semibold text-secondary'>
        Dajte do toho všetko! Výbušné cviky zvýšia tep a naplno zapoja všetky
        svaly. Za krátky čas tak spálite viac kalórií.
      </p>
    </div>
    <img src='/images/g1.jpg' alt='Žena si meria priemer pásu' />
  </article>
  <article class='flex flex-col-reverse gap-7'>
    <div class='bg-primary p-4'>
      <h2 class='pb-2 text-xl'>Cviky pre ženy</h2>
      <p class='text-sm font-semibold text-secondary'>
        Pripravili sme si pre teba 20 cvikov pre ženy, ktoré ti pomôžu skvelo
        vytvarovať ramená.
      </p>
    </div>
    <img
      src='/images/g2.jpg'
      alt='Žena zdvíha činky pri zrkadle'
      class='h-full object-cover object-left'
    />
  </article>
  <article class='flex flex-col gap-7'>
    <div class='bg-primary p-4'>
      <h2 class='pb-2 text-xl'>Trénink celého těla</h2>
      <p class='text-sm font-semibold text-secondary'>
        Zanechať tréninky s delením svalových partií a nabal svalovou hmotu
        precvičením každej svalovej partie 4x do týždňa.
      </p>
    </div>
    <img
      src='/images/g3.jpg'
      alt='Muž si ukazuje telo'
      class='image2 h-full scale-x-[-1] object-cover object-center'
    />
  </article>
</section>
