<footer class='mt-16 border-t-[5px] border-primary bg-[#101010]'>
  <div class='px-[calc((100%-1110px)/2)]'>
    <div class='flex justify-evenly'>
      <div class='pt-8'>
        <img
          src='/favicon.svg'
          alt='GymZ logo'
          class='inline h-8 w-8 align-bottom sm:h-12 sm:w-12'
        />
        <h2 class='inline text-2xl font-semibold'>GymZ</h2>
        <p class='max-w-[200px] pt-5 text-sm'>
          Najlepšie fitness štúdio široko ďaleko, neváhajte a pridajte sa k nám.
        </p>
        <p class='pt-5 text-sm'>
          &copy; 2022 Dominik Tóth. All rights reserved.
        </p>
      </div>
      <form class='mt-[-30px] bg-primary-foreground p-14 text-secondary'>
        <h3 class='pb-8 text-center text-2xl font-semibold text-primary'>
          Kontaktujte nás
        </h3>
        <input
          type='text'
          name='name'
          placeholder='MENO'
          class='mr-4 border-b-[2px] border-black pb-2 text-sm outline-none placeholder:text-sm placeholder:text-secondary focus:border-primary focus:shadow-none'
        />
        <input
          type='text'
          name='email'
          placeholder='EMAIL'
          class='border-b-[2px] border-black pb-2 text-sm outline-none placeholder:text-sm placeholder:text-secondary focus:border-primary'
        />
        <input
          type='text'
          name='address'
          placeholder='ADRESA'
          class='mt-10 block w-full border-b-[2px] border-black pb-2 text-sm outline-none placeholder:text-sm placeholder:text-secondary focus:border-primary'
        />
        <input
          type='text'
          name='message'
          placeholder='SPRÁVA'
          class='mt-10 block w-full border-b-[2px] border-black pb-2 text-sm outline-none placeholder:text-sm placeholder:text-secondary focus:border-primary'
        />
        <button
          type='submit'
          class='mx-auto mt-8 block bg-[#353a41] px-7 py-2 text-sm text-primary-foreground'
          >ODOSLAŤ</button
        >
      </form>
      <div class='flex flex-col'>
        <h3>ADRESA</h3><p>
          Gymnázium Golianova<br />Golianova 68, 949 01 Nitra
        </p>
      </div>
    </div>
  </div>
</footer>
