<footer class='mt-16 bg-secondary'>
  <div class='grid grid-cols-4 px-[calc((100%-1320px)/2)] py-8'>
    <div>
      <h3 class='text-2xl font-semibold text-white'>Obľúbené odkazy</h3>
      <ul class='mt-4 flex flex-col gap-2 text-sm'>
        <li>
          <i class='fas fa-arrow-right text-primary'></i>{' '}
          <a href='#home'>Úvod</a>
        </li>
        <li>
          <i class='fas fa-arrow-right text-primary'></i>{' '}
          <a href='#about'>O nás</a>
        </li>
        <li>
          <i class='fas fa-arrow-right text-primary'></i>{' '}
          <a href='#specialists'>Naši špecialisti</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class='text-2xl font-semibold text-white'>Užitočné odkazy</h3>
      <ul class='mt-4 flex flex-col gap-2 text-sm'>
        <li>
          <i class='fas fa-arrow-right text-primary'></i>{' '}
          <a href='#services'>Služby</a>
        </li>
        <li>
          <i class='fas fa-arrow-right text-primary'></i>{' '}
          <a href='#prices'>Cenník</a>
        </li>
        <li>
          <i class='fas fa-arrow-right text-primary'></i>{' '}
          <a href='#contact'>Kontakt</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class='text-2xl font-semibold text-white'>Kde nás nájdete</h3>
      <ul class='mt-4 flex flex-col gap-2 text-sm'>
        <li>
          <i class='fas fa-map-marker-alt text-primary'></i>{' '}
           123 Ulica, Bratislava, Slovensko
        </li>
        <li>
          <i class='far fa-envelope-open text-primary'></i>{' '}
           info@ZubZen.com
        </li>
        <li>
          <i class='fas fa-phone-alt text-primary'></i>{' '}
           +000 123 456 789
        </li>
      </ul>
    </div>
    <div>
      <h3 class='text-2xl font-semibold text-white'>Sledujte nás na</h3>
      <ul class='mt-4 flex gap-2 text-sm'>
        <li class='bg-primary p-3'>
          <i class='fab fa-twitter'></i>
        </li>
        <li class='bg-primary p-3'>
          <i class='fab fa-facebook-f'></i>
        </li>
        <li class='bg-primary p-3'>
          <i class='fab fa-linkedin-in'></i>
        </li>
        <li class='bg-primary p-3'>
          <i class='fab fa-instagram'></i>
        </li>
      </ul>
    </div>
  </div>
</footer>
