<footer class='grid-cols-3 pt-36 text-text lg:grid'>
  <img
    src='/images/foot01.jpg'
    alt='Muž so snowboardom na svahu'
    class='hidden lg:block'
  />
  <div class='flex flex-col items-center justify-center gap-12'>
    <div class='flex flex-col gap-2 text-center'>
      <h3 class='text-2xl'>Základné informácie</h3>
      <p>+(421) 999 000 001</p>
    </div>
    <div class='flex flex-col gap-2 text-center'>
      <h3 class='text-2xl'>Rezervácie</h3>
      <p>+(421) 999 000 002</p>
    </div>
    <div class='flex flex-col gap-2 text-center'>
      <h3 class='text-2xl'>Centrum pomoci</h3>
      <p>+(421) 999 000 004</p>
    </div>
  </div>
  <img
    src='/images/foot02.jpg'
    alt='Muž so snowboardom na svahu so slnkom'
    class='hidden lg:block'
  />
  <div
    class='col-span-3 grid place-items-center bg-text p-6 text-center text-xs text-white'
  >
    <p>
      ZENIT &copy; Všetky práva vyhradené 2023, vytvorené <span
        class='block pt-4 text-gray-300 underline lg:inline lg:pt-0'
      >
        Dominik Tóth Gymnázium Golianova 68, Nitra
      </span>
    </p>
  </div>
</footer>
