<section class='h-fit' id='home'>
  <div class='h-full w-full'>
    <div class='flex justify-center bg-black'>
      <div
        class='relative h-[62.5vh] w-[1190px] bg-[url(/images/banner.jpg)] bg-cover bg-center bg-no-repeat'
        style='box-shadow: 0 0 80px 80px black inset'
      >
        <div class='absolute left-0 top-[55%] pl-[38px]'>
          <blockquote class='text-4xl font-bold'>
            <p class='inline-block'>
              ŠTÚDIO GymZ,<br /><span class='text-primary'
                >ktoré vám vždy ponúkne viac.</span
              >
            </p>
          </blockquote>
          <div class='mt-1 flex gap-x-4'>
            <a
              href='#news'
              class='w-[130px] border border-primary py-2 text-center text-lg uppercase hover:border-primary-foreground hover:text-primary'
              >Novinky</a
            >
            <a
              href='#courses'
              class='w-[130px] border border-primary py-2 text-center text-lg uppercase hover:border-primary-foreground hover:text-primary'
              >Kurzy</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  blockquote:before {
    content: url(/images/right-quote.png);
    vertical-align: 1.75em;
  }
  blockquote:after {
    content: url(/images/left-quote.png);
    vertical-align: -0.75em;
  }
</style>
