<nav
  class='sticky top-[-1px] z-10 flex w-full items-center bg-white p-8 text-secondary'
>
  <h1 class='text-4xl font-bold text-primary'>
    <i class='fa fa-tooth'></i> ZubZen
  </h1>
  <ul class='ml-auto flex gap-4'>
    <li>
      <a href='#home' class='transition-colors hover:text-primary'>Úvod</a>
    </li>
    <li>
      <a href='#services' class='transition-colors hover:text-primary'>Služby</a
      >
    </li>
    <li>
      <a href='#price-list' class='transition-colors hover:text-primary'
        >Cenník</a
      >
    </li>
    <li>
      <a href='#specialists' class='transition-colors hover:text-primary'
        >Naši špecialisti</a
      >
    </li>
    <li>
      <a
        href='#order'
        class='bg-primary px-6 py-2 text-white transition-colors hover:bg-third hover:text-black'
        >Objednajte sa</a
      >
    </li>
  </ul>
</nav>
<style>
  .is-sticky {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>
