<nav class='fixed z-10 w-full bg-secondary bg-opacity-80'>
  <div class='flex items-center px-2 py-2 lg:px-[calc((100%-1110px)/2)]'>
    <a href='/'
      ><img
        src='/favicon.svg'
        alt='GymZ logo'
        class='h-8 w-8 sm:h-14 sm:w-14'
      /></a
    >
    <h1 class='self-end text-xl font-semibold sm:text-3xl'>GymZ</h1>

    <ul class='ml-auto flex gap-4 text-sm uppercase sm:text-lg'>
      <li><a href='#home' class='hover:text-primary'>Úvod</a></li>
      <li><a href='#about' class='hover:text-primary'>O nás</a></li>
      <li><a href='#courses' class='hover:text-primary'>Kurzy</a></li>
      <li><a href='#contact' class='hover:text-primary'>Kontakt</a></li>
    </ul>
  </div>
</nav>
