<nav class='sticky top-0 flex w-full bg-white p-8 text-secondary'>
  <h1 class='text-4xl font-bold text-primary'>
    <i class='fa fa-tooth'></i> ZubZen
  </h1>
  <ul class='ml-auto flex gap-4'>
    <li><a href='#home' class='hover:text-primary'>Úvod</a></li>
    <li><a href='#services' class='hover:text-primary'>Služby</a></li>
    <li><a href='#price' class='hover:text-primary'>Cenník</a></li>
    <li>
      <a href='#specialists' class='hover:text-primary'>Naši špecialisti</a>
    </li>
    <li>
      <a
        href='#order'
        class='bg-primary px-6 py-2 text-white hover:bg-third hover:text-black'
        >Objednajte sa</a
      >
    </li>
  </ul>
</nav>
