<section
  class='h-[35vh] bg-[url(/images/about-bg.jpg)] bg-no-repeat'
  style='background-size: 100% 100%;'
  id='news'
>
  <div class='relative px-[calc((100%-1110px)/2)]'>
    <p class='pt-6 text-xl font-semibold text-secondary'>Vyberáme pre Vás</p>
    <h2 class='pt-3 text-4xl font-semibold text-primary'>Novinky</h2>
    <div class='line mt-3'></div>
    <p class='description w-[25vw] pt-3 text-sm font-semibold text-secondary'>
      <span class='text-lg'>Celoslovenské stretnutie 21.-23. februára 2023</span
      ><br />Školenia na obmedzenie prietoku krvi • BEZPLATNÉ CEC/CPD •
      Porovnajme Surové vs. Varené • Budovanie Ab, Core & Panvová sila •
      Získavajte krátkodobé zisky z dlhodobých cieľov • Chcete sa stať
      partnerom? + OČAKÁVAJTE OVEĽA VIAC
    </p>
    <img
      class='absolute right-[34%] top-[-40px] h-[180px] w-[225px]'
      src='/images/about-img.jpg'
      alt='Žena robí cvik s pružinou'
    />
  </div>
</section>
<style>
  .line {
    width: 90px;
    height: 5px;
    @apply bg-primary;
    border-radius: 100vw;
  }
  .description {
    line-height: 1.5;
  }
</style>
