<section class='flex flex-col gap-12 text-icon lg:px-[calc((100vw-1140px)/2)]'>
  <h3 class='text-center text-6xl leading-none text-icon'>
    Apré ski <br />stvorené priamo pre vás
  </h3>
  <article class='grid gap-24 px-4 lg:grid-cols-3 lg:px-0'>
    <aside class='flex flex-col items-center gap-4 text-center'>
      <img src='/images/icon01.svg' alt='Príbor' class='w-32' />
      <h4 class='text-5xl'>Reštaurácie</h4>
      <p class='italic text-text'>
        U nás nájdete širokú škálu reštaurácií a barov, ktoré ponúkajú jedlá a
        nápoje pre všetky chute. Dostupné v blízkosti zjazdoviek a vlekov.
      </p>
    </aside>
    <aside class='flex flex-col items-center gap-4 text-center'>
      <img src='/images/icon02.svg' alt='Pivo' class='w-32' />
      <h4 class='text-5xl'>Nočný život</h4>
      <p class='italic text-text'>
        Nočné lyžovanie, posedenie v bare, diskotéky alebo koncerty. Zúčastnite
        sa festivalu zábavy, ktorý začíná zo západom slnka.
      </p>
    </aside>
    <aside class='flex flex-col items-center gap-4 text-center'>
      <img src='/images/icon03.svg' alt='Bublina' class='w-32' />
      <h4 class='text-5xl'>Wellness</h4>
      <p class='italic text-text'>
        Náše wellness centrum ponúka širokú škálu služieb, ktoré vám pomôžu
        uvoľniť sa a obnoviť si energiu po náročnom dni na svahu.
      </p>
    </aside>
    <aside class='flex flex-col items-center gap-4 text-center'>
      <img src='/images/icon04.svg' alt='Kalkulačka s peniazmi' class='w-32' />
      <h4 class='text-5xl'>Obchody</h4>
      <p class='italic text-text'>
        Ponúkame širokú škálu obchodov a služieb, ako sú lyžiarske a
        snowboardové predajne, požičovne, športové potreby a ďalšie.
      </p>
    </aside>
    <aside class='flex flex-col items-center gap-4 text-center'>
      <img src='/images/icon05.svg' alt='Diamant' class='w-32' />
      <h4 class='text-5xl'>Ubytovanie</h4>
      <p class='italic text-text'>
        Pripravili sme pre vás sieť hotelov, apartmánov a dokonca aj chatiek. Na
        svoje si prídu aj tí najnáročnejší.
      </p>
    </aside>
    <aside class='flex flex-col items-center gap-4 text-center'>
      <img src='/images/icon06.svg' alt='Zvoniaci zvonček' class='w-32' />
      <h4 class='text-5xl'>Kurzy</h4>
      <p class='italic text-text'>
        Kurzy sú určené pre malých aj veľkých, pre začiatočníkov aj pokročilých.
        Naučíme vás lyžovať aj padať
      </p>
    </aside>
  </article>
</section>
