---
import Card from '~/components/Card.astro';
---

<section class='mt-[-50px] grid grid-cols-3 px-[calc((100%-1320px)/2)]'>
  <Card title='Otváracie hodiny' bg='primary'>
    <div class='flex flex-col gap-4'>
      <p class='flex'>
        Pon - Pia <span class='ml-auto'>6:00 - 20:00</span>
      </p><p class='flex'>
        Sobota <span class='ml-auto'>9:00 - 16:00</span>
      </p><p class='flex'>Nedeľa <span class='ml-auto'>9:00 - 13:00</span></p>
      <a
        href='#order'
        class='bg-white py-2 text-center font-semibold text-secondary'
        >Objednajte sa</a
      >
    </div>
  </Card>
  <Card title='Vyhľadať doktora' bg='secondary'>
    <form class='grid grid-rows-3 gap-4 text-sm text-secondary-light'>
      <input
        type='date'
        name='date'
        placeholder='dátum objednania'
        class='p-2'
      />
      <select name='service' class='p-2'>
        <option value='' disabled selected>Vyberte službu</option>
        <option value='service1'>Služba 1</option>
        <option value='service2'>Služba 2</option>
        <option value='service3'>Služba 3</option>
        <option value='service4'>Služba 4</option>
      </select>
      <button class='bg-white text-secondary'>Vyhľadajte</button>
    </form>
  </Card>
  <Card title='Objednajte sa' bg='third'>
    <p class='text-md'>
      Ak máte problémy so zubami, alebo sa chcete len poradiť. Neváhajte nám
      zavolať na číslo:
    </p>
    <h3 class='mt-8 text-center text-2xl font-semibold'>+000 123 456 789</h3>
  </Card>
</section>
