<section
  class='flex h-[600px] flex-col items-center justify-center gap-4 bg-[#0f1d2e] bg-[url(/assets/bg-1.jpg)] text-center bg-blend-overlay'
  id='home'
>
  <p class='text-lg uppercase'>
    Zuby zdravé, úspev krásny: Starajte sa o svoje ústa každý deň!
  </p>
  <h2 class='text-6xl font-bold'>Získaje najlepšiu<br />zubnú staroslivosť.</h2>
  <div class='flex gap-2'>
    <a
      class='bg-primary px-6 py-2 transition-colors hover:bg-third hover:text-black'
      href='#order'>Objednajte sa</a
    >
    <a
      class='bg-third px-6 py-2 transition-colors hover:bg-primary hover:text-black'
      href='#contact'>Kontaktujte nás</a
    >
  </div>
</section>
