---
import '@total-typescript/ts-reset';

import type { InferSelectModel } from 'drizzle-orm';
import { z } from 'zod';

import Slideshow from '~/components/Slideshow';
import { db } from '~/db';
import { type pricelist } from '~/db/schema';

export const prerender = false;

interface Pricelist
  extends Omit<InferSelectModel<typeof pricelist>, 'benefits'> {
  benefits: string[];
}

const convertPrices = (prices: Pricelist[]) => {
  if (prices.length % 2 === 0) {
    const chunks = [];
    while (prices.length) {
      chunks.push(prices.splice(0, 2));
    }
    return chunks;
  }

  const chunks = [];
  while (prices.length > 1) {
    chunks.push(prices.splice(0, 2));
  }
  chunks.push(prices);
  return chunks;
};

const prices = await db.query.pricelist.findMany();

const formatter = Intl.NumberFormat('sk-SK', {
  style: 'currency',
  currency: 'EUR',
  maximumFractionDigits: 0,
});
const schema = z.array(z.string());

const parsedPrices = prices.map(price => {
  const benefits = schema.safeParse(JSON.parse(price.benefits));

  return {
    ...price,
    price: formatter.format(price.price),
    benefits: benefits.success ? benefits.data : [],
  };
});

// @ts-expect-error TSSERVER AINT FOCKING WORKING
const convertedPrices = convertPrices(parsedPrices);
---

<section class='pt-16 text-secondary'>
  <article class='relative'>
    <img src='/assets/bg-1.jpg' class='h-[500px] w-full object-cover' />
    <div
      class='absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] bg-primary/80 p-8 text-center text-white'
    >
      <p class='text-5xl font-semibold'>
        Ušetrite až 30% pri prvej <br />prehliadke
      </p>
      <p class='max-w-screen-sm py-6'>
        Prejdie k nám a získajte túto neskutočnú zľavu. Všetky ošetrenia a
        služby, súvisiace s odstránením nájdených problémov počas prvej
        prehliadky, budú účtované so zľavou <br /> 30%.
      </p>
      <div class='flex justify-center gap-4'>
        <a href='#order' class='bg-secondary px-10 py-4 text-sm font-medium'
          >Objednajte sa</a
        >
        <a
          href='#more'
          class='bg-white px-10 py-4 text-sm font-medium text-black'
          >Zistite viac</a
        >
      </div>
    </div>
  </article>

  <article
    class='grid grid-cols-2 gap-10 px-[calc((100%-1320px)/2)] pt-16'
    id='price-list'
  >
    <aside>
      <h3
        class='relative mb-2 w-fit font-medium uppercase text-primary before:absolute before:-right-[60px] before:top-1/2 before:h-[3px] before:w-[50px] before:-translate-y-1/2 before:bg-primary before:content-[""] after:absolute after:-right-[80px] after:top-1/2 after:h-[3px] after:w-[15px] after:-translate-y-1/2 after:bg-third after:content-[""]'
      >
        Cenník
      </h3>
      <p class='text-5xl font-semibold'>
        Ponúkame férové ceny <br /> za špičkovú kvalitu
      </p>
      <p class='pt-6 text-gray-500'>
        Neváhajte využiť naše príjemné a ukľudnujúce prosredie, v ktorom sa
        budete cítiť bezpečne a bez zbytočných stresov. Klinika je vybavena
        najnovšími technológiami a vysoko kvalifikovaným a profesionálnym zubným
        personálom, vrátane zubárov, ortodontov a zubných hygienikov.
      </p>
      <p class='pb-1 pt-4 text-xl font-medium uppercase text-primary'>
        Objednajte sa na čísle
      </p>
      <p class='text-4xl font-bold'>+000 123 456 789</p>
    </aside>
    <aside>
      <Slideshow client:visible prices={convertedPrices} />
    </aside>
  </article>
</section>
